BASE_URL="https://api-jds.prod-useast1.ciscowxdap.com"
CLIENT_ID=""
CLIENT_SECRET=""
Redirect_URI="https://jds-live-view.wbx.ninja/widget"
WEBEX_API_SCOPE="cjp:config cjp:config_write cjp:config_read cjp:user cjds:admin_org_read cjds:admin_org_write spark:people_read"