PORT=10020
HOSTNAME="0.0.0.0"
ACCESS_TOKEN_TTL_HOURS=12

BASE_URL="https://api-jds.prod-useast1.ciscowxdap.com"
PROJECT_ID=""
ORGANIZATION_ID=""
DEFAULT_TEMPLATE_NAME="journey-default-template"

CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URI="https://my-server.com/widget"

WEBEX_API_SCOPE="cjp:config cjp:config_write cjp:config_read cjp:user cjds:admin_org_read cjds:admin_org_write spark:people_read"