.container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    width: 100%;
}

.header {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .logo {
    max-width: 100%;
    height: auto;
    height: 30px;
  }

.button {
   background-color: skyblue;
   width: 95%;
   border-radius: 20px;
   height: 50px;
   cursor: pointer;
   font-size: 20px;
   color: #fff;
   position: absolute;
   top: 50%;
}

.smallButton {
    background-color: skyblue;
    color: blue;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}